<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crear nuevo evento</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #eventForm="ngForm">
            <div class="form-group">
                <label for="lat">Latitud</label>
                <input type="number" class="form-control" id="lat" placeholder="Indique la latitud" required
                    [(ngModel)]="event.lat" name="lat">
            </div>
            <div class="form-group">
                <label for="lon">Longitud</label>
                <input type="number" class="form-control" id="lon" placeholder="Indique la longitud" required
                    [(ngModel)]="event.lon" name="lon">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Descripción del evento</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required
                    [(ngModel)]="event.description" name="description"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="createEvent(modal)"
            [disabled]="!eventForm.form.valid">Save</button>
    </div>
</ng-template>

<ng-template #centerMapModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Centrar mapa</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #centerForm="ngForm">
            <div class="form-group">
                <label for="lat">Latitud</label>
                <input type="number" class="form-control" id="lat" placeholder="Indique la latitud" required
                    [(ngModel)]="latLongCenter.lat" name="lat">
            </div>
            <div class="form-group">
                <label for="lon">Longitud</label>
                <input type="number" class="form-control" id="lon" placeholder="Indique la longitud" required
                    [(ngModel)]="latLongCenter.lon" name="lon">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="centerMap(modal)"
            [disabled]="!centerForm.form.valid">Save</button>
    </div>
</ng-template>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-outline-primary mr-5" (click)="launchModalCreate(content)"> + Crear nuevo evento</button>
        <button class="btn btn-outline-primary" (click)="launchModalCenter(centerMapModal)">Centrar mapa</button>
    </div>
</div>

<div class="row my-4">
    <div class="col-md-8">
        <input type="text" class="form-control" placeholder="Indique keywords separados con coma para filtrar"
            [(ngModel)]="keyword" name="keyword">
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-primary" (click)="filterEvents()">Filtrar</button>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div style="height: 500px; width: 100%" leaflet [leafletOptions]="options"
            (leafletMapReady)="onMapReady($event)">
        </div>

        <p class=" text-white">Eventos listados: <b>{{_markerService.markers.length}}</b></p>
    </div>
</div>