/* You can add global styles to this file, and also import other style files */

.leaflet-default-icon-path {
    background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

body {
    background-color: #2b2b2b;
}